# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Domonkos\Documents\PPKE_ITK_tanulmanyok\Mernokinfo_MSC\2_felev_osz\Design Patterns\Homeworks\6-Adapter-Library\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
